<%= form_with :model => @post do |form| %>
  <p>
    <%= form.label "title", "Title" %>
    <%= form.text_field "title" %>
  </p>
  <p>
    <%= form.label "description" %>
    <%= form.text_field "description" %>
    <%= form.label "posted_on" %>
    <%= form.date_field "posted_on" %>
  </p>
  <!-- So we can transfer state from the previous action to the next -->
  <%= form.hidden_field "place_id" %>
  <%= form.submit %>
<% end %>